<!DOCTYPE html>
<html ng-app="theApp" ng-controller="navController">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="js/app.js"></script>
</head>

<style>
  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
  .signup_form{
    width: 300px;
    margin: 25px;
  }
	.login_form{
		width: 300px;
		margin: 25px;
	}
	.content_view{
		margin: 100px;
	}
</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#home">CSE100</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#login">My CSE100 </a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Homework <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="hw in hws">
              <a href="#">{{hw.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <div ng-show="isLoggedin"> 
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#setting" class="navbar-link"><span ng-bind="fullName"></span></a><li>
            <li><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button><li>
            </ul>       
          </div>
        </div>
      </div>
    </nav>
    <body>

      <div class='content_view' ng-view></div>

    </body>
    </html>
