<div align="justify" class="login_form" ng-controller="loginController">
  <form name="loginForm" ng-submit="login(loginForm.$valid)" novalidate>
    <div class="form-group">
      <label >Email address</label>
      <input ng-model="email" type="email" class="form-control" id="email" placeholder="UCSD Email" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required>
    </div>
    <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-default">Login</button>
    <div class="space-4"></div>
    <span class="lbl col-sm-3"> </span>
    <div >Don't have an account? <a href="#/signup">Signup</a></div>
  </form>
<div>
