<div ng-controller="profileController">

	<div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Grades</div>
			<div class="panel-body">
				<p>Grades are displayed here!</p>
			</div>


			<!-- Table -->
			<table class="table">
				<tbody>
					<div>
						<tr ng-repeat="grade in grades">
							<td>{{grade.name}}</td>
							<td>{{grade.score}}</td>
						</tr>
					</div>
				</tbody>
				
			</table>
		</div>
		<div>

			<div class="panel panel-info">
				<div class="panel-heading">
					Submission for {{currentHW}}
				</div>
				<div class="panel-body">
					<form name="uploadFileForm" id='fileUpload'>
						<div class="input-group">
							<span class="input-group-btn"> 
								<span class="file-input btn btn-block btn-primary btn-file">
									Browse <input onchange="angular.element(this).scope().fileSelected(this)" type="file" name="file" id="file" required="true"/>
								</span>
							</span>
							<input type="text" class="form-control" value="{{fileName}}" readonly>
						</div>
						<br>
						<div class="list-group">
							<button type="button" id="forTest" class="list-group-item" ng-click="fileUpload($event)">Submit for test</button>
							<button type="button" id="forGrade" class="list-group-item" ng-click="fileUpload($event)">Submit for grade</button>
						</div>
					</form>
				</div>
			</div>
			<div>
				<a ng-click="toggle()"><font size = "4">test result</font></a>
				<pre ng-show="clicked">
					{{testResultContent}}
				</pre>
			</div>
		</div>

