<div ng-controller="settingController">
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="checkboxValue">
			Receiving the test result via email
		</label>
		<div class="alert alert-warning" ng-hide="checkboxValue">
			<strong>Warning! </strong> You won't be notified via email when the test finishes!
		</div>
		<div class="alert alert-info" ng-show="checkboxValue">
			<strong>Info! </strong> You will be notified via email when the test finishes!
		</div>
		<button type="button" class ="btn btn-default" ng-click="save()">Save</button>
	</div>
</div>
