<div align="justify" class="signup_form" ng-controller="signupController">
  <form name="signupForm" ng-submit="signup(signupForm.$valid)" novalidate>
    <div class="form-group">
    <label >First Name</label>
      <input ng-model="firstName" type="text" class="form-control" placeholder="First Name" required>
    </div>
    <div class="form-group">
      <label >Last Name</label>
      <input ng-model="lastName" type="text" class="form-control" placeholder="Last Name" required>
    </div>
    <div class="form-group">
      <label >Email address</label>
      <input ng-model="email" type="email" class="form-control" id="email" placeholder="UCSD Email" required>
    </div>
    <div class="form-group">
      <label >PID</label>
      <input ng-model="studentId" type="text" class="form-control" id="studentId" placeholder="student ID" required>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input ng-model="password" type="password" class="form-control" id="password" placeholder="Password" ng-minlength="6" ng-maxlength="12" required>
    </div>
    <button ng-disabled="signupForm.$invalid" type="submit" class="btn btn-default">Signup</button>
  </form>
<div>